In [7]:
%run '00_database_connectivity_setup.ipynb'

          x         y
0  0.368987  0.231227
1  0.599593  0.733049
2  0.370381  0.814613
3  0.039988  0.046026
4  0.223477  0.985376
5  0.221647  0.663017

In [8]:
%%execsql
DROP TABLE IF EXISTS  felipe.bic_azeqpmord00_sum

In [9]:
%%showsql
select madlib.summary('sap_bi.bic_azeqpmord00_int', 'felipe.bic_azeqpmord00_sum');

                                         summary
0  (felipe.bic_azeqpmord00_sum,26,79.1331710815)

In [10]:
%%execsql

CREATE OR REPLACE FUNCTION my_to_date(text, text) RETURNS date AS $$

BEGIN
    IF to_number($1,'99999999') = 0 THEN
        RETURN null;
    ELSE 
        RETURN to_date($1, $2);
    END IF;
END;

$$ LANGUAGE plpgsql

In [11]:
%%showsql
select target_column, distinct_values, missing_values, blank_values, min, max, most_frequent_values
from felipe.bic_azeqpmord00_sum
where fraction_blank < 0.999 and distinct_values > 1;

,target_column,distinct_values,missing_values,blank_values,min,max,most_frequent_values
0,coorder,336161,0,0,12.0,12.0,"[000000975835, 000001213023, 000001219169, 000000988040, 000001376116, 000000973023, 000000968009, 000000942010, 000001302595, 000000925228]"
1,equipment,78967,0,0,18.0,18.0,"[000000000010139543, 000000000010136655, 000000000010249457, 000000000010313295, 000000000010285867, 000000000010085912, 000000000010300500, 000000000010268634, 000000000010289149, 000000000010046929]"
2,recordmode,2,0,46402,0.0,1.0,"[N, ]"
3,notificatn,199883,0,204656,0.0,12.0,"[, 000300350260, 000300088180, 000300057997, 000300275064, 000300032607, 000300053840, 000300442957, 000300498341, 000300041539]"
4,bic_zsortfld,3953,0,398822,0.0,20.0,"[, QUAR, NO SLOC, COMP, SLOC L4, LOC.BACKLOAD L-4, SLOC L4 BACKLOAD, LOC. KRISTIANSUND, SCRP, LOC.L7 OPEN STORAGE]"
5,bic_zbearb,2,0,402127,0.0,1.0,"[, X]"
6,bic_zobjvw,2,0,67126,0.0,1.0,"[A, ]"
7,ucserialnr,64980,0,4775,0.0,18.0,"[000000000000000001, 000000000000000002, , NS-01, 000000000000000003, NS-02, 000000000000000004, 000000000000000005, NS-03, 000000000000000006]"
8,material,20284,0,3334,0.0,18.0,"[182-010-020, , P206128, DP-18-3540, 18-920-138, P205799, 18-910-200, 000000000100002110, P134037-0021, P205896]"
9,createdon,5175,0,0,8.0,8.0,"[20091229, 20141008, 20150619, 20150625, 20151008, 20120109, 20131217, 20150209, 20110808, 20110412]"
10,crea_time,69155,0,0,6.0,6.0,"[000000, 154835, 145907, 091421, 121843, 114008, 163936, 144838, 143912, 152301]"
11,coord_type,15,0,0,4.0,4.0,"[ZS01, ZS02, ZS04, ZS03, ZS05, XP01, ZS08, ZS07, ZM02, ZM01]"
12,maintplant,34,0,0,4.0,4.0,"[KOS2, FKIA, HCS0, 4026, EWWD, EWAA, MYLB, EWHG, EWKO, EWNS]"
13,priority,6,0,253792,0.0,1.0,"[, 1, 2, 3, 4, 5]"
14,createdby,1099,0,0,3.0,12.0,"[DAVIEC, KLYVEKA, DUTRAIN, KOSLAEI, KOSTHRO, KOSTRKO, HAGMART, HESTADE, NOREMAI, STENERI]"
15,bic_zartpr,2,0,0,2.0,2.0,"[PM, ZM]"
16,bic_zequihist,330744,0,0,12.0,12.0,"[000000975835, 000001213023, 000001376116, 000001219169, 000000973023, 000001178176, 000000968009, 000000988040, 000001111324, 000001415588]"

In [13]:
%%showsql
select coorder, equipment, notificatn, bic_zsortfld, material, my_to_date(createdon, 'YYYYMMDD') as createdon, coord_type, 
maintplant, priority, bic_zequihist
from sap_bi.bic_azeqpmord00_int limit 10

,coorder,equipment,notificatn,bic_zsortfld,material,createdon,coord_type,maintplant,priority,bic_zequihist
0,000001074742,000000000011519090,,,182-010-020,2009-12-29,ZS01,4026,,000001074742
1,000001074743,000000000011519101,,,182-010-020,2009-12-29,ZS01,4026,,000001074743
2,000001074744,000000000011519101,,,182-010-020,2009-12-29,ZS01,4026,,000001074744
3,000001074745,000000000011519104,,,182-010-020,2009-12-29,ZS01,4026,,000001074745
4,000001074746,000000000011519104,,,182-010-020,2009-12-29,ZS01,4026,,000001074746
5,000001074747,000000000011519104,,,182-010-020,2009-12-29,ZS01,4026,,000001074747
6,000001074748,000000000011519112,,,182-010-020,2009-12-29,ZS01,4026,,000001074748
7,000001074750,000000000011519112,,,182-010-020,2009-12-29,ZS01,4026,,000001074750
8,000001074751,000000000011519112,,,182-010-020,2009-12-29,ZS01,4026,,000001074751
9,000001074752,000000000011519120,,,182-010-020,2009-12-29,ZS01,4026,,000001074752