In [1]:
%run '00_database_connectivity_setup.ipynb'

%matplotlib inline
from IPython.display import display
from IPython.display import HTML
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 500)

psql.execute("set role pivotal_fmc_poc_dba",conn)
conn.commit()

C:\Anaconda2\lib\site-packages\pandas\computation\__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [2]:
%%showsql
select
  procpid as PID,
  current_query,
  query_start, application_name, waiting, client_addr
from
    pg_stat_activity;

,pid,current_query,query_start,application_name,waiting,client_addr
0,80476,<IDLE>,2016-07-12 19:56:55.553972+00:00,,False,10.212.133.5
1,717185,"\ndrop table if exists nate.hclust_large_results;\ncreate table nate.hclust_large_results\nas\n(\n select (result).material, (result).cluster_number\n from\n (\n select nate.run_hclust(key, 0.7) as result \n from \n (\n select\n nate.stack_rows( ARRAY['material', 'similar_material', 'score'],\n material, \n similar_material, \n score) as key\n from nate.material_features_distance_ewhg_hcs0\n where material >= similar_material \n ) q1\n ) q2\n) distributed by (material);\n",2016-07-13 18:43:59.638584+00:00,,False,10.251.11.10
2,711646,<IDLE>,2016-07-13 18:28:32.972572+00:00,pgAdmin III - Browser,False,10.251.11.10
3,539770,<IDLE>,2016-07-13 11:16:55.532979+00:00,,False,10.212.133.107
4,573280,"select equipment, funct_loc, material, ucserialnr, bic_zdayoper, txtmd, bic_zsyssts, equi_cat, bic_zsupeqip, createdon, dateto, classification, stor_desc from (\nselect e.*, d.createdon, m.class_num as classification, row_number() over (partition by e.equipment order by d.createdon asc) as rownum\nfrom sap_bi.equipment_master_int e\nleft outer join sap_bi.bic_azeqdelivoo d on e.equipment = d.equipment\nleft outer join sap_bi.material_classification_int m on e.material = m.material\nwhere e.langu like chr(69) order by e.equipment) as rownums where rownum=1 -- chr(69) = e\n",2016-07-13 12:13:49.037893+00:00,,False,10.251.11.10
5,696796,<IDLE>,2016-07-13 18:21:36.204972+00:00,psql,False,10.212.133.103
6,81419,<IDLE>,2016-07-12 19:57:14.115208+00:00,,False,10.212.133.5
7,712321,<IDLE>,2016-07-13 18:44:48.906639+00:00,pgAdmin III - Query Tool,False,10.251.11.10
8,720831,"select\n procpid as PID,\n current_query,\n query_start, application_name, waiting, client_addr\nfrom\n pg_stat_activity;\n",2016-07-13 18:46:22.523745+00:00,,False,10.251.11.10
9,718844,<IDLE>,2016-07-13 18:41:10.243991+00:00,psql,False,10.212.133.103
10,719656,<IDLE>,2016-07-13 18:43:27.107131+00:00,,False,10.251.11.10
11,161473,<IDLE>,2016-07-12 20:27:43.545746+00:00,,False,10.212.133.5
12,108810,<IDLE>,2016-07-12 20:35:51.254142+00:00,,False,10.212.133.5
13,109238,<IDLE>,2016-07-12 20:24:50.035075+00:00,,False,10.212.133.5

In [5]:
%%showsql
--select pg_cancel_backend(631998);
--select pg_terminate_backend(770460);

DatabaseError: Execution failed on sql '--select pg_cancel_backend(631998);
--select pg_terminate_backend(770460);': can't execute an empty query

In [24]:
%%showsql

select count(*)
from smithd2.material_features_sample_distance

     count
0  6505328

In [30]:
%%showsql 

 SELECT count(*)
         from data_science.material_bom
         where plnt is null

   count
0  0

In [28]:
%%showsql

    SELECT count(DISTINCT material)
    FROM 
     data_science.partbom_exploded_int

   count
0  42863

In [38]:
%%execsql

CREATE TABLE nate.ewhg_materials AS 

SELECT DISTINCT material
from (
    SELECT DISTINCT MATERIAL 
    FROM nate.simple_features
    WHERE plant in( 'EWHG','HCS0') 
UNION ALL
      SELECT DISTINCT COMPonent as material
      from nate.simple_features
    WHERE plant in( 'EWHG','HCS0') 
) a
DISTRIBUTED BY(material);

In [39]:
%%showsql

SELECT * FROM nate.ewhg_materials

          material
0     P1000009303
1     P135257-0000
2     P1000158193
3     P120465-1028
4     P1000009879
5     P1000079098
6     P121854-0013
7     P158349
8     79-030-371
9     P177131
10    P1000110395
11    18-416-804
12    P147987
13    DP-48-4093
14    P1000034228
15    P168386
16    P103295-0012
17    P1000025785
18    P1000019566
19    P1000051423
20    79-030-472
21    P1000019416
22    P1000072828
23    P138649-0033
24    P1000032976
25    P1000094293
26    P120000-1021
27    P183882
28    P152361
29    P180177
30    P1000123810
31    78-030-248
32    P1000055711
33    48-108-043
34    P1000041112
35    P210366
36    P1000039986
37    P1000095364
38    P1000153835
39    P172727
40    P180605
41    P171656
42    P168405
43    48-081-483
44    P1000028777
45    P2000006048
46    P111258
47    P174264
48    P1000046889
49    701-073-310
...           ...
8747  18-307-301
8748  P103288-0000
8749  48-080-005
8750  701-073-436
8751  18-905-420
8752  65-690-050
8753  P1000061962
8754  P132280-0000
8755  701-073-256
8756  701-073-313
8757  P142024
8758  P159572
8759  78-120-216
8760  P134544-0021
8761  P136641-0021
8762  P169337
8763  P126414-0000
8764  P183618
8765  P168385
8766  P6000038279
8767  P1000104274
8768  P1000006730
8769  P176724
8770  P1000070797
8771  P1000016469
8772  P113775-0004
8773  701-073-393
8774  P1000077680
8775  P1000027861
8776  P1000038663
8777  P162989
8778  P125481-0012
8779  P167133
8780  P1000046491
8781  P1000088725
8782  P113010-0000
8783  P158070
8784  P205895
8785  P6000055605
8786  701-073-425
8787  P182961
8788  P123276-0021
8789  P1000066835
8790  P1000024437
8791  P1000149978
8792  P142697
8793  73-061-152
8794  P184251
8795  P154690
8796  P1000018067

[8797 rows x 1 columns]